h1{

    text-decoration: underline;
}

h3{

    font-family: "Times New Roman", Times, serif;
    
}

body {
    background-image: url("https://i.pinimg.com/originals/29/2d/dc/292ddcf1fdbcff99169b93d6507b59bf.jpg");
    background-color: #cccccc;
   }