<app-base></app-base>

<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <div class="w3-row-padding">
  
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <div class="w3-display-bottomleft w3-container w3-text-black">
          </div>
        </div>
        <div class="w3-container">
          <br>
          <h2 style="color: black;">Resumen de la Compra</h2>
          <p style="color: rgb(100,100,100) ;">Productos: <a style="color: black;"> {{cant}} Unidades. </a> </p>
          <p style="color: rgb(100,100,100) ;">Total a pagar: <a style="color: black;"> {{pagar | currency : 'CLP'}} </a> </p>
          <hr>
          
          <h2 style="color: black;">Dirección Envio</h2>
            <app-formulario></app-formulario>
          <br>
          <hr>
        </div>
      </div><br>

    </div>

    <!-- Columna de la derecha -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        
        <div class="w3-container">
          
          <div class="table table-responsive">
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of Carro">
                  <td>{{p.codigo}}  </td>
                  <td style="width: 40px;"></td>
                  <td>{{p.nombre}}</td>
                  <td style="width: 40px;"></td>
                  <td><a (click)="disminuircantidad(p)"> <i class="bi bi-dash-square-fill"></i> </a> {{p.carro}} <a (click)="aumentarcantidad(p)"><i class="bi bi-plus-square-fill"></i></a></td>
                  <td>{{p.precio | currency : 'CLP'}}<a (click) = "delete(p.codigo,p)"> <i class="bi bi-trash-fill"></i> </a> </td>
                  <td style="width: 40px;"></td>
              </tr>
              </tbody>
            </table>
            
          
           
          </div>


          <hr>
        </div>
      
      </div>

    </div>
    
  </div>
  

</div>


</body>
</html>
<app-footer></app-footer>

<script>

$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

</script>



